{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts",
    "src/**/*.dto.ts",
    "src/**/*.entity.ts",
    "src/configs",
    "src/common/interfaces"
  ],
  "branches": 80,
  "lines": 90,
  "functions": 90,
  "statements": 90
}